<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear></clear>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"></add>
    <add key="Stark.Integration" value="https://pkgs.dev.azure.com/STARK-IT/7fac733a-4db9-4703-a412-e869116384cd/_packaging/Stark.Integration/nuget/v3/index.json"></add>
  </packageSources>
  <packageSourceCredentials>
    <Stark.Integration>
      <add key="Username" value="dummy@dummy"></add>
      <add key="ClearTextPassword" value="ah.ah-ah_j0k3r"></add>
    </Stark.Integration>
  </packageSourceCredentials>
</configuration>
